#actions {
    display: none;
}
footer {
    display: none;
}
div#impressao {
    display: block;
}
.page-header {
    display: none;
}
.form-group {
    display: none;
}
hr {
    display: none;
}
div#impressao img {
    margin-bottom: 25px;
}
thead {
    background: #545DBF;
}
